body{
	min-width: 500px;
	min-height: 600px;
	overflow: hidden;
}

#submit_post{
	margin-left: 2%;
}

footer.page-footer, .btn, .btn-large, nav{
	background-color: #4099FF;	
}

.inner{
	margin-left: 30%;
}

.inputfield{
	margin-left: 15%;
}

#submit_link_form{
	visibility: hidden;
	padding-bottom: 5%;
}

#post_response{
	font-size: 130%;
    padding-top: 5%;
    padding-left: 16%;
}